# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [38]:
my_number = 10

print(my_number)
type(my_number)

10

int

##### Assinging float

In [39]:
my_float = 10.5

print(my_float)
type(my_float)

whole_float = 11.0

print(type(whole_float))

10.5
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [40]:
print(5 + 5)

print(my_number + 5)

5.5 + 5.5

whole_float + my_float

10
15

21.5

In [41]:
print(my_number)

# my_number = my_number + 5
my_number += 5
print(my_number)

10
15

##### Subtraction

In [42]:
my_number - 10

print(my_number)

# my_number = my_number - 10
my_number -= 10

print(my_number)

15
5

In [43]:
15.5 - 10.5

my_float - 5.5

print(my_float)

# my_float = my_float - 5.5
my_float -= 5.5

print(my_float)

10.5
5.0

##### Multiplication

In [54]:
10 * 10

new_num = 10

new_num * 5

print(new_num)

prod = new_num * 5

print(new_num, prod)

10
10 50

In [59]:
print(my_float)

my_float * new_num

# my_float = my_float * 5

my_float *= 4.5

25.0

In [60]:
print(my_float)

112.5

##### Division

In [67]:
print(10 / 5)

print(int(10 / 5))

print(my_number / 2)

print(my_number)

# my_number = my_number / 2
my_number /= 2
print(my_number)

2.0
2
2.5
5
2.5

##### Floor Division

In [79]:
11 // 5
print(10 // 5.0)

my_number // 2

print(my_number)

# my_number = my_number // 2
my_number //= 2

print(my_number)

2.0
1.0
0.0

##### Modulo

In [87]:
11 % 5

my_number = 10
my_number % 3

# my_number = my_number % 3
my_number %= 3

print(my_number)

1

##### Exponential

In [93]:
10**2

new_number = 10

new_number**3

print(new_number)

# new_number = new_number**3
new_number **=3

10

In [94]:
print(new_number)

1000

### String Input-Output

##### String Assignment

In [97]:
new_string = 'hello world'

print(new_string)

print(type(new_string))

hello world
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [109]:
# default end="\n" ex: print('hello world', end='\n')

print('hello string', end=' ')

print('matrix week-2')

print('on new line')

hello string matrix week-2
on new line

##### String Concatenation

In [117]:
instructor = 'sean'

print(new_string + ' ' + instructor)

print(new_string)

hello world sean
hello world

In [119]:
new_string + ' python week'

print(new_string)

# new_string = new_string + ' python week'
new_string += ' python week'

print(new_string)

hello world
hello world python week

##### Type Conversion

In [133]:
type(int('105'))

number_string = '10.5'

print(number_string)

number_string.isdigit()

if number_string.isdigit():
    int(number_string)
else:
    print("unable to convert")

10.5
unable to convert

##### input()

In [140]:
name = input("What is your name: ")

# user_age = int(input("what is your age"))

# user_age += 1


# print(user_age)

What is your name: dylan

##### format()

In [143]:
age = 33
print('arg')

print('hello {} {}'.format(name, age))

arg
hello dylan 33

In [148]:
f'hello {name} you are {age + 1} years old'

'hello dylan you are 34 years old'

##### Old Way (python 2)

In [146]:
'Hello %s you are %d years old' %(name, age)

'Hello dylan you are 33 years old'

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

### If Statements

In [164]:
# Available operators: Greater(>), Less(<),Equal(==) NotEqual(!=)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

# syntax
# if <boolean statement>:
#     action
print(10 > 11)
if 10 > 11:
    print('10 > 11 True')
    
if 11 > 10:
    print('11 > 10 True')
    print('action two')
    
if 10 == 10:
    print('10 equal 10')
    
if 10 != 10:
    print('not equal')
    
if 11 >= 11:
    print('11 >= 11')
    
if 10 >= 9 and 11 == 11:
    print("10 >= 9 and 11 == 11")
    
if 10 >= 9 and 11 != 11:
    print("10 >= 9 and 11 != 11")
    
if 10 >= 9 or 11 != 11:
    print("10 >= 9 or 11 != 11")
    
if 10 == 10 or int('abc') > 11:
    print('prevent error short circuit')
    
if 10 == 11 or 9 >= 9:
    print('10 == 11 or 9 >= 9')

False
11 > 10 True
action two
10 equal 10
11 >= 11
10 >= 9 and 11 == 11
10 >= 9 or 11 != 11
prevent error short circuit
10 == 11 or 9 >= 9

##### 'is' keyword

In [171]:
# bad practice use ==
print(11 is 11)

dict1 = {'foo':'bar'}
dict2 = {'foo':'bar'}

dict3 = dict1

print(dict3)

dict1 is dict2
dict3 is dict1

{'foo': 'bar'}

True

##### 'in' keyword

In [180]:
'c' in 'abc'

'd' in 'abc'

porter_grades = '5,5,5,5,5'

if '0' in porter_grades:
    print('fail or make sure to catch upo')

##### 'not in' keyword'

In [184]:
if '0' not in porter_grades:
    print('Congrats you graduate')
    
print('z' not in 'foo')
print('b' not in 'bar')

Congrats you graduate
True
False

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [186]:
user_input = input ("whats your name ?" )


if "p" in user_input.lower():
    print("I found p")  
else:
    print ("there is no p")

whats your name ?lil
there is no p

## Using 'and'/'or' with If Statements

In [190]:
# see above

if 'foo' in 'foobar' and 'bar' in 'foo':
    print('true')

### Elif Statements

In [198]:
if 'dylan' == 'dylan':
    print('today\'s instuctor is dylan')
elif 'sean currie' == 'sean currie':
    print('your lucky day')

today's instuctor is dylan

In [199]:
if 'dylan' == 'sean currie':
    print('today\'s instuctor is dylan')
elif 'sean currie' == 'sean currie':
    print('your lucky day')

your lucky day

In [201]:
today = 'monday'

if today == 'sunday':
    print('enjoy your last day of weekend')
elif today == 'monday':
    print('back to school')
elif today == 'monday':
    print('monday 2')
elif today == 'tuesday':
    print('working through the week')
elif today == 'wednesday':
    print('hump day')

back to school
monday 2

### Else Statements

In [215]:
if 9 < 10 < 11:
    print('10 > 9 and 10 < 11')

10 > 9 and 10 < 11

In [211]:
if today == 'saturday' or today == 'sunday':
    print('Its the weekend')
else:
    print('time for school')

time for school

In [209]:
if '':
    print('empty string')
if 'a':
    print('one letter')

one letter

### For Loops

In [220]:
instructor = 'sean currie'

for letter in instructor:
    print(letter)
    print('line two')

print('completed')

s
line two
e
line two
a
line two
n
line two

line two
c
line two
u
line two
r
line two
r
line two
i
line two
e
line two
completed

In [230]:
for num in range(20):
    print(num)
    num += 5
    print(num)
    if num - 5 != 19:
        print('go to next number\n')
    
print('range loop complete')

0
5
go to next number

1
6
go to next number

2
7
go to next number

3
8
go to next number

4
9
go to next number

5
10
go to next number

6
11
go to next number

7
12
go to next number

8
13
go to next number

9
14
go to next number

10
15
go to next number

11
16
go to next number

12
17
go to next number

13
18
go to next number

14
19
go to next number

15
20
go to next number

16
21
go to next number

17
22
go to next number

18
23
go to next number

19
24
range loop complete

In [244]:
# print(len(instructor))
# print(list(range(11)))
# print(instructor)


for i in range(len(instructor)):
    print(f'index= {i}, eleement= {instructor[i]}')
    
    
'foo bar'[3]

index= 0, eleement= s
index= 1, eleement= e
index= 2, eleement= a
index= 3, eleement= n
index= 4, eleement=
index= 5, eleement= c
index= 6, eleement= u
index= 7, eleement= r
index= 8, eleement= r
index= 9, eleement= i
index= 10, eleement= e

'o'

##### Using 'in' keyword

In [46]:
# see above

##### Continue Statement

In [47]:
# will continue to next iteration

In [247]:
for num in range(20):
    if num == 5 or num == 10:
        continue
    print(num)

0
1
2
3
4
6
7
8
9
11
12
13
14
15
16
17
18
19

##### Break Statement

In [48]:
# will break out of current loop

In [249]:
for num in range(20):
    if num == 5:
        break
    print(num)

print('out of loop')

0
1
2
3
4
out of loop

##### Pass Statement

In [255]:
# mostly used as a placeholder, and will continue on same iteration

def get_user_data():
    input('give me data: ')
def handle_user_data():
    pass

get_user_data()

give me data: test

In [257]:
for num in range(20):
    if num == 5:
        pass
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Double For Loops

In [265]:
step = 0
for num in range(5):
    for letter in 'sean currie':
        print(num, letter)
    print('nested loop complete\n')

print(step)

0 s
0 e
0 a
0 n
0
0 c
0 u
0 r
0 r
0 i
0 e
nested loop complete

1 s
1 e
1 a
1 n
1
1 c
1 u
1 r
1 r
1 i
1 e
nested loop complete

2 s
2 e
2 a
2 n
2
2 c
2 u
2 r
2 r
2 i
2 e
nested loop complete

3 s
3 e
3 a
3 n
3
3 c
3 u
3 r
3 r
3 i
3 e
nested loop complete

4 s
4 e
4 a
4 n
4
4 c
4 u
4 r
4 r
4 i
4 e
nested loop complete

0

In [276]:
# print any duplicate letters

our_string = "matrixa"

for i,letter in enumerate(our_string):
    for y, letter2 in enumerate(our_string):
        if i != y and letter == letter2:
            print(letter)

a
a

In [272]:
list(enumerate('matrixa'))

[(0, 'm'), (1, 'a'), (2, 't'), (3, 'r'), (4, 'i'), (5, 'x'), (6, 'a')]

### While Loops

In [5]:
# while <condition | boolean expression>:
#     <code block>
num = 0
while num < 20:
    print(num)
    num += 1

print('completre')

playing = input('Are you ready to play: [y/n]: ')

while playing == 'y':
    print('having tons of fun')
    playing = input('Are you still playing play: [y/n]: ')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
completre
Are you ready to play: [y/n]: y
having tons of fun
Are you still playing play: [y/n]: y
having tons of fun
Are you still playing play: [y/n]: y
having tons of fun
Are you still playing play: [y/n]: n

##### Looping 'While True'

In [6]:
while True:
    playing = input('Are you still playing play: [y/n]: ')
    
    if playing == 'n':
        break

Are you still playing play: [y/n]: y
Are you still playing play: [y/n]: y
Are you still playing play: [y/n]: n

##### While & For Loops Used Together

In [16]:
num = 0
while num < 5:
    for letter in 'sean currie':
        print(f'{num = } {letter = }')
    num += 1
    print('nested loop complete\n')

num = 0 letter = 's'
num = 0 letter = 'e'
num = 0 letter = 'a'
num = 0 letter = 'n'
num = 0 letter = ' '
num = 0 letter = 'c'
num = 0 letter = 'u'
num = 0 letter = 'r'
num = 0 letter = 'r'
num = 0 letter = 'i'
num = 0 letter = 'e'
nested loop complete

num = 1 letter = 's'
num = 1 letter = 'e'
num = 1 letter = 'a'
num = 1 letter = 'n'
num = 1 letter = ' '
num = 1 letter = 'c'
num = 1 letter = 'u'
num = 1 letter = 'r'
num = 1 letter = 'r'
num = 1 letter = 'i'
num = 1 letter = 'e'
nested loop complete

num = 2 letter = 's'
num = 2 letter = 'e'
num = 2 letter = 'a'
num = 2 letter = 'n'
num = 2 letter = ' '
num = 2 letter = 'c'
num = 2 letter = 'u'
num = 2 letter = 'r'
num = 2 letter = 'r'
num = 2 letter = 'i'
num = 2 letter = 'e'
nested loop complete

num = 3 letter = 's'
num = 3 letter = 'e'
num = 3 letter = 'a'
num = 3 letter = 'n'
num = 3 letter = ' '
num = 3 letter = 'c'
num = 3 letter = 'u'
num = 3 letter = 'r'
num = 3 letter = 'r'
num = 3 letter = 'i'
num = 3 letter = 'e'
nested loop complete

num = 4 letter = 's'
num = 4 letter = 'e'
num = 4 letter = 'a'
num = 4 letter = 'n'
num = 4 letter = ' '
num = 4 letter = 'c'
num = 4 letter = 'u'
num = 4 letter = 'r'
num = 4 letter = 'r'
num = 4 letter = 'i'
num = 4 letter = 'e'
nested loop complete

### Built-In Functions

##### range()

In [225]:
list(range(20))

# syntax range(start=0, stop, step=1)

list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

##### len()

In [18]:
len('dylan')

6

##### help()

In [19]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [29]:
help(isinstance)

isinstance(1,(str, int))

isinstance(1,int)
isinstance('abc',str)


age = '33'

if isinstance(age,int):
    print(age + 1)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### abs()

In [33]:
abs(-5) == 5 == abs(5)

True

### Try and Except

In [38]:
 age = int(input('enter your age: '))

enter your age: dsfdas

ValueError: invalid literal for int() with base 10: 'dsfdas'

In [39]:
while True:

    age = input('enter your age: ')

    try:
        age = int(age)
        break
    except ValueError:
        print('please enter age in digits ex: 33')
    except:
        print("i dont know")
        
age = int(age)

enter your age: abc
please enter age in digits ex: 33

KeyboardInterrupt: Interrupted by user

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [40]:
print(10**3)

1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [50]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>